.event {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-content: center;
  justify-content: center;
  max-width: 1240px;
}

.event-container {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;

  flex-direction: column;

  width: 200px;
  height: 230px;
  padding: 20px 0;
  text-align: center;
}

.event-body-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.event-header {
  padding: 10px;
}

@media screen and (max-width: 400px) {
  .event {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
