.create-event {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.create-even-itemlist {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.create-event-header{
height: 10%;
width: 100%;
background-color: #0d1c2e;
}